html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eaeaea;
  color: #4f4f4f;
  font-family: "Helvetica Neue", "Helvetica", "Verdana", Arial, sans-serif;
  line-height: 1.4em;
}

button {
  border: 0;
  outline: none;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 100%;
  letter-spacing: .15em;
  text-transform: uppercase;
  border-radius: 25%;
  color: #5e6163;
  background-color: #D9D9D9;
  cursor: pointer;
}

button:hover {
  opacity: 0.75;
}

.debug {
  color: #797B74;
  text-align: center;
  border: 1px dashed #c5c5c5;
  margin: 25px 0 0 0;
  padding: 15px;
}

.controls {
  display: flex;
  color: #880088;
  /*border: 1px solid red;*/
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-around; /* Safari 6.1+ */
  display: flex;
  justify-content: space-around;
}

.ctrl {
  width: 115px;
}
